* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
}

.breeds {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 25px;
}

.breeds > .breedImage{
  height: 250px;
  width: 250px;
}

.card{
  margin: 5px;
}

.card-info{
  padding: 20px;
}

.width-sm{
  width: 200px;
}